.DS_Store
node_modules/
/dist/
/qiankun_main/node_modules/
/qiankun_main1/node_modules/
/qiankun_main2/node_modules/
/qiankun_main/dist/
/qiankun_main1/dist/
/qiankun_main2/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
dist.tar

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*!.gitkeep
*.zip
*.iws
*.iml
*.ipr