$color: #1292e2;

// 浏览器宽度不小于1200px时
@media screen and (min-width: 1200px) {
  .login_bg1 {
    left: 15%;
  }

  .login-wrapper {
    right: 10%;
  }

  .select-language {
    margin-right: 15%;
  }
}

@media screen and (max-width: 1200px) {

  // 浏览器宽度不大于1200px时
  .login_bg1 {
    left: 10%;
  }

  .login-wrapper {
    right: 10%;
  }

  .select-language {
    margin-right: 10%;
  }
}

#login {
  position: relative;

  .login-right {
    position: absolute;
    right:100px;
    top:250px;
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    .login-title {
        display: block;
        width: 100%;
        height: 22px;
      font-size: 18px;
      color: #fff;
      text-align: center;
    }

    .title-border {
      height: 1px;
      background: #1f96f2;
      margin-top: 10px;
    }
  }

  .inputWrap {
    // border: 1px #dcdcdc solid;
    margin: 35px 0;
    background-color: rgba(255, 255, 255, 0.3);
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    .line{
        float: left;
        margin-left: 14px;
        display: inline-block;
        height: 34px;
        width: 1px;
        margin-top: 5px;
        background-color: hsla(0,0%,100%,.5);
    }
    >.login_label{
        >input{
            background: transparent !important;
            color: #fff;
            
        }
        input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
            color: #ccc;
        }
        input:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
            color: #ccc;
        }
        input::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
            color: #ccc;
        }
        input:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
            color: #ccc;
        }
        >.iconfont{
            color: #ccc;
        }
    }
  }

  .clear-float {
    clear: both;
  }

  .login_label i {
    float: left;
    font-size: 20px;
    color: #8b8784;
    margin-left: 15px;
  }

  input {
    width: 250px;
    float: left;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    border: 0;
    outline-width: 0px;
    margin-left: 10px;
  }

//   input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0 1000px white inset !important;
//     -webkit-text-fill-color: #fff !important;
//   }
  input:-internal-autofill-previewed,
    input:-internal-autofill-selected {
    -webkit-text-fill-color: #FFFFFF !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

  .button {
    background-color: #309cf4;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .login-wrapper {
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    // border: 1px solid #44b5ff;
    height: 353px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 12px rgba(20, 122, 191, 0.3);
    border-radius: 4px;

    // width: 400px;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // right: 100px;
    // height: 364px;
    // box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    // border-radius: 4px;
    // background: hsla(0,0%,100%,.2);
    // padding: 40px;
    // box-sizing: border-box;
    // text-align: center;

    .remember-pwd {
      float: right;
      margin-top: -20px;
      font-weight: normal;
    }
  }

  .copy-right {
    color: gray;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }

  .login_bottom {
      position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    // background: linear-gradient(#f2f9ff, #fff);
  }
}
